@{
    ViewBag.Title = "Home Page";
}

<div id="Carousel" class="container-fluid">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item Img-Item active">
                <img src="~/Content/IMG-Carousel/computer.jpg" class="d-block w-100 h-100 Img" alt="Computer">
            </div>
            <div class="carousel-item Img-Item">
                <img src="~/Content/IMG-Carousel/iCUE.jpg" class="d-block w-100 h-100 Img" alt="iCUE">
            </div>
            <div class="carousel-item Img-Item">
                <img src="~/Content/IMG-Carousel/Auricular.jpg" class="d-block w-100 h-100 Img" alt="Auricolar">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div id="List-Tech">
    <h1 class="container" style="color:white">ESPLORA I PRODOTTI</h1>
</div>