.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

#Img-Logo{
    width:70px;
    border-radius:5px
}

.Link-box{
    display:flex;
}

.Link {
    margin: 0px 15px 0px 15px;
    list-style:none
}

.Link-item{
    text-decoration:none;
    letter-spacing:1px;
    font-size:0.9em;
    color:black
}

.Link-item:hover{
    color:black
}

.Img-Item{
    image-resolution:snap;
    object-fit:contain;
    width:100%;
    height:500px
    
}

.footer{
    background-color:black;
    color:gray;
    height:100%
}

.Item-Footer{
    margin:0px;
    height:100%
}

.Img{
    object-fit:contain
}

#Carousel{
    background-color:black
}

#List-Tech {
    background-image: url("Img-List-Tech/sfondoperlista.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative
}

.list-card{
    max-height:200px;
    max-width:200px;
    width:200px;
    height:200px;
    height:100%
}

.eccezioni{
    height:200px
}

.link-specify:hover{
    border: 1px solid white;
}

.Link-Attribute {
    text-decoration: none;
    font-size: 0.9em;
    color: white
}
.Link-Attribute:hover{
    color:white
}

#Start-Form{
    display:flex;
    justify-content:center;
    background-color:lightgray;
    height:50vh;
}