.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

#Img-Logo{
    width:70px;
    border-radius:5px
}

.Link-box{
    display:flex;
}

.Link {
    margin: 0px 15px 0px 15px;
    list-style:none
}

.Link-item{
    text-decoration:none;
    letter-spacing:1px;
    font-size:0.9em;
    color:black
}

.Link-item:hover{
    color:black
}

.Img-Item{
    image-resolution:snap;
    object-fit:contain;
    width:100%;
    height:500px
    
}


.Img{
    object-fit:contain
}

#Carousel{
    background-color:black
}

#List-Tech {
    background-image: url("Img-List-Tech/sfondoperlista.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding:30px
}

.list-card{
    max-height:200px;
    max-width:200px;
    width:200px;
    height:200px;
    height:100%
}

.eccezioni{
    height:200px
}

.link-specify:hover{
    border: 1px solid white;
}

.Link-Attribute {
    text-decoration: none;
    font-size: 0.9em;
    color: white
}
.Link-Attribute:hover{
    color:white
}

#Start-Form{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:lightgray;
    height:100vh;
}

.footer{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color:black;
    color:gray;
    height:100%;
    height:100px;
    max-height:100px
}

.Item-Footer{
    margin:0px;
    height:100%;
    display:flex;
    align-items:center
}

.Link-Admin{
    text-decoration:none;
    color: gray;
}

.Link-Admin:hover {
    text-decoration: none;
    color: gray;
    font-size:1.2em;
}

.Add-item{
    font-size:1.2em;
    color: black;
    text-decoration:none;
    padding:10px;
    margin-bottom:20px;
}

.Add-item:hover{
    text-decoration:none;
    background-color:black;
    color:white;
    transition: 2s;
}

.box-products{
    height:100vh;
    align-items:center;
    flex-wrap:wrap;
    background-color:lightgray;
    border-radius:15px;
}

.Img-Card{
    padding:15px;
    background-color: lightgray;
}

.Image{
    width:250px;
    height:200px;
    
}

.Long{
    height:300px;
    width:300px;
}

.contenitore{
    height:100vh;
}

.ContainerImg{
    display:flex;
    justify-content:center;
    align-items:center;
    width:500px;
    height:500px;
}

.li-description{
    text-decoration:none;
}

.container-details{
    background-color:lightgray;
    padding:20px;
    width:300px;
    border-radius: 10px;
}

.middle-tower {
    height: 100vh;
    background-image: url("Img-List-Tech/sfondoperlista.jpg");
}

.quantity{
    width:50px;
}

.Li-Item{
    margin-bottom:15px;
}

.Modify-Quantity{
    background-color: lightgray;
    height:75vh;
    align-items:center
}
.Table-Orders{
    height:75vh
}

.Icon-menu{
    padding:15px;
    border-radius:50%
}